[Desktop Entry]
Name=Quick Apps and USB
Comment=Shows the quick application bar and USB management tool
Icon=
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-NotificationArea=true
X-Plasma-ConfigPlugins=device_automounter_kcm

X-KDE-PluginInfo-Name=tr.org.etap.quickappsandusb
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Author=Yunusemre Şentürk      
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-Version=1.1 
X-KDE-PluginInfo-Website=https://etap.org.tr               
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet




